
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}
:root{
    --background-white: #fff;
    --background-black: #000;
    --background-gray: #ccc;
    --background-full: #141414;
    --background: linear-gradient(0, #490e80, #e39be0);
    --color-white:#fff;
    --color-black:#000;
    --color-violet: #490e80;
    --header: calc(68px - 16px);
}

html{
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    scroll-snap-type: mandatory;
    background-color: rgba(0, 0, 0, 0.06);
    user-select: none;
    scroll-padding-top: 68px;
}
html::-webkit-scrollbar{
    width: 8px
}
html::-webkit-scrollbar-thumb{
    background-color: #ccc;
    border-radius: 10px;
}
.btn--color{
    background-color:#490e80 ;
    color: var(--color-white);
}
.btn{
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
}
.btn:hover{
   opacity: 1;
}


.animationTop{
    animation: ease 0.5s forwards;
    opacity: 0;
}
@keyframes animationTop{
    /* 0%{
        transform: translateY(0) ;
        opacity: 0;
    }
    50%{
        transform: translateY(-30px);
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    } */

    from{
        transform: translateY(30px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
.animationBottom{
    animation: animationBottom ease 0.5s forwards;
    opacity: 0;
}
@keyframes animationBottom {
    from{
        transform: translateY(-50px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
.animationLeft{
    animation: animationLeft ease 0.5s forwards;
    opacity: 0;
}
@keyframes animationLeft{
    from{
        opacity: 0;
        transform: translateX(-50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
.animationRight{
    animation: animationRight ease 0.5s forwards;
    opacity: 0;
}
@keyframes animationRight {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}
.delay-01{
    animation-delay: 0.1s !important;
}
.delay-02{
    animation-delay: 0.2s !important;
}
.delay-03{
    animation-delay: 0.3s !important;
}
.delay-04{
    animation-delay: 0.4s !important;
}
.delay-05{
    animation-delay: 0.5s !important;
}
.delay-06{
    animation-delay: 0.6s !important;
}
.delay-07{
    animation-delay: 0.7s !important;
}
.delay-08{
    animation-delay: 0.8s !important;
}
.delay-09{
    animation-delay: 0.9s !important;
}
.delay-1{
    animation-delay: 1s !important;
}
.delay-11{
    animation-delay: 1.1s !important;
}
.delay-12{
    animation-delay: 1.2s !important;
}
.delay-13{
    animation-delay: 1.3s !important;
}
.delay-14{
    animation-delay: 1.4s !important;
}
.delay-15{
    animation-delay: 1.5s !important;
}
.delay-16{
    animation-delay: 1.6s !important;
}
.delay-17{
    animation-delay: 1.7s !important;
}
.delay-18{
    animation-delay: 1.8s !important;
}
.delay-19{
    animation-delay: 1.9s !important;
}
.delay-2{
    animation-delay: 2s !important;
}
.delay-22{
    animation-delay: 2.2s !important;
}
.delay-24{
    animation-delay: 2.4s !important;
}

/* modal  */
/* modal login  */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.modal-lognIn,
.modal-lognUp {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 550px;
    margin: 16px;
}

.modal__introduce {
    max-width: 250px;
    height: 350px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 1.2rem;
    z-index: 1;
    animation: animationModal1 ease 0.5s;
}

@keyframes animationModal1 {
    from {
        transform: translateX(300px);
    }

    to {
        transform: translateX(0);
    }
}

.modal-welcome {
    font-size: 3rem;
    letter-spacing: 4px;
    color: var(--color-white);
    margin-bottom: 2.4rem;
    line-height: 1.5;
}

.modal-text {
    font-size: 1.5rem;
    text-align: center;
    line-height: 1.2;
    color: var(--color-white);
    margin-bottom: 24px;
}

.modal-signup {
    padding: 8px 16px;
    color: var(--color-white);
    background-color: transparent;
    font-size: 2rem;
    border-radius: 30px;
    border-color: #bb2ab7;
    cursor: pointer;
}

.modal__container {
    max-width: 400px;
    width: 100%;
    height: 350px;
    background-color: var(--color-white);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: animationModal ease 0.5s;
}

@keyframes animationModal {
    from {
        transform: translateX(-300px);
    }

    to {
        transform: translateX(0);
    }
}

.modal-header {
    margin-bottom: 12px;
}

.modal-header__signUp {
    font-size: 2rem;
    margin-bottom: 12px;
    text-align: center;
}

.modal-icon-login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.modal-connected {
    width: 25px;
    height: 25px;
    font-size: 1.8rem;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 12px;
}

.modal-connected-link {
    text-decoration: none;
    color: var(--text-black);
    font-weight: 400;
}

.modal-body {
    display: flex;
    flex-direction: column;
}

.modal-body__text {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 8px;
}

.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-form input {
    margin-bottom: 12px;
    padding: 8px 16px;
    border: none;
    background-color: rgb(238, 231, 231);
    border-radius: 10px;
}

.modal-signIn {
    color: var(--text-black);
}


/* modal logIn  */
.container-lognIn {
    border-top-right-radius: 0;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 10px;
    animation: animationModal1 ease 0.5s;
}

.introduce-lognIn {
    border-top-right-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 0;
    animation: animationModal ease 0.5s;
}

.modal-getpassword {
    font-size: 1.5rem;
    text-decoration: none;
    text-align: center;
    margin: 12px 0;
    border-bottom: 1px solid #999;
}

/* toast modal  */

#toast {
    position: fixed;
    top: 68px;
    right: 20px;
    height: 300px;
    z-index: 5;
}

.toast {
    display: flex;
    min-width: 300px;
    max-width: 400px;
    border-left: 8px solid;
    display: flex;
    font-size: 1.5rem;
    padding: 16px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    animation: toastHidden ease 0.5s ;
    transition: all 0.5s ease;
}

@keyframes toastHidden {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
    
}

.toast--success {
    border-color: greenyellow;
}

.color--success {
    color: greenyellow;
}

.toast--error {
    border-color: red;
}

.color--error {
    color: red;
}

.toast__title {
    line-height: 1.5;
}

.toast__header {
    font-size: 2.5rem;
    padding: 12px;
}

.content {
    margin-top: 68px;
    margin-bottom: 32px;
}


/* loading start  wweb  */
.onloading{
    display: none;
    position: fixed;
    top: 68px;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    z-index: 100;
    background-color: #FFF;
}
.spinner {
width: 30px;
height: 30px;
display: grid;
border: 3px solid #0000;
border-radius: 50%;
border-color: #bb2ab7 rgba(203, 50, 50, 0);
animation: spinner-e04l1k 1s infinite ease  ;
}
.spinner::before,
.spinner::after {
content: "";
grid-area: 1/1;
margin: 2.2px;
border: inherit;
border-radius: 50%;
}
.spinner::before {
border-color: #bb2ab7 #0000;
animation: inherit;
animation-duration: 0.4s;
animation-direction: reverse;
}
.spinner::after {
margin: 8.9px;
}
@keyframes spinner-e04l1k {
100% {
  transform: rotate(1turn);
}
}